* {
    font-family: DFKai-sb, serif, sans-serif;
}

.article-indent {
    text-indent: 40px;
}

.brand-story1 {
    margin: 30px auto;
}

.brand-story2-caption {
    color: #82320A;
    font-size: x-large;
    font-weight: bold;
}

.brand-story-origin, .tea-features-subtitled {
    margin: 30px auto;
}

.brand-story-proverb {
    font-size: 12px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
}

.navbar-header {
    background-color: #faf5e6;
}

.navbar-header-item li {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #b48246;
    font-size: larger;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #966428;
}

.title {
    color: #821E00;
    font-weight: bold;
    margin: 30px auto;
}

@media screen and (min-width: 576px) {
    .brand-story-proverb {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {

}